<div id="header-main-container">
  <div id="header-left-container">
    <p id="header-title">{{pageName}}</p>
    <p id="header-sub-title">last update: {{lastUpdateTime}}</p>
  </div>
  <div id="header-right-container">
    <div id="header-search-container">
      <input id="header-search-input" type="text" placeholder="Search here..">
      <span id="header-search-icon" class="material-symbols-outlined">search</span>
    </div>
    <span id="header-notifications-icon" class="material-symbols-outlined header-icon">notifications</span>
    <span id="header-settings-icon" class="material-symbols-outlined header-icon">settings</span>
  </div>
</div>
