@import "src/vars";

#dashboard-item-main-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: $desp-blue-bg-color;
  border: solid 1px $desp-dark-grey;
  border-radius: 1rem;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

#dashboard-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 4rem;
}
#dashboard-title {
  font-size: $dashboard-title-font-size;
  margin: 0;
  padding-left: 2rem;
}

#dashboard-item-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}
#dashboard-item-header-image {
  height: $dashboard-image-height;
}
#dashboard-item-header-value {
  margin: 0;
  font-size: $dashboard-value-font-size;
}

#dashboard-item-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
