@import "src/vars";

#main-container {
  position: relative;
  left: $sidebar-width;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; */
  width: calc(100vw - $sidebar-width);
  //height: 100vh;
}
#app-header {
  //position: sticky;
  //top: 0;
  z-index: 99;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  width: 100%;
}
#router-outlet {
  //position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  //padding-top: $header-height;
  /* width: 100%;
  height: 100%; */
}

#aux-element {
  display: none;
  --desp-text-color: #{$desp-text-color};
  --desp-purple: #{$desp-purple};
  --desp-violet: #{$desp-violet};
  --desp-grey: #{$desp-grey};
  --desp-grey-bg-color: #{$desp-grey-bg-color};
  --desp-bar-blue: #{$desp-bar-blue};
  --desp-yellow: #{$desp-yellow};
}
