@import "src/vars";

#sidebar-main-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: $desp-blue-bg-color;
  align-items: center;

  //min-width: $sidebar-min-width;
  width: $sidebar-width;
  height: 100vh;
  padding: 3vh 0 0 0;
  gap: 4vh;
}

#sidebar-logo {
  height: 2.5rem;
}

#sidebar-user-logo {
  height: 5rem;
}

#sidebar-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  gap: 1.25rem;
}

.sidebar-nav-link-container {
  display: flex;
  flex-direction: column;
}

.sidebar-nav-link {
  font-size: $sidebar-menu-font-size;
  transition: color 250ms ease-in-out;
  text-decoration: none;
}
.sidebar-nav-link:link {
  color: $desp-text-color;
}
.sidebar-nav-link:visited {
  color: $desp-text-color;
}
.sidebar-nav-link.current {
  color: $desp-purple;
}
.sidebar-nav-link:hover {
  color: $desp-grey;
}
.sidebar-nav-link:active {
  color: $desp-purple;
}

.sidebar-nav-child-link{
  font-size: $sidebar-menu-font-size;
  transition: color 250ms ease-in-out;
  text-decoration: none;
  color: $desp-purple;
  margin-left: 1rem;
}

#sidebar-footer {
  position: absolute;
  bottom: 0.5rem;
  margin: 0;
  padding: 0;
  font-size: $sidebar-footer-font-size;
  color: $desp-grey;
}
